<!DOCTYPE html>
<html lang="en">

<head th:replace="layout/head-layout :: head_layout">
    <link th:href="@{~/swiper.css}" rel="stylesheet"> 
</head>

<body id="page-top">
    <div class="spinner-wrapper">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
    </div>
    <div id="wrapper">
        <ul th:replace="layout/sidebar-layout :: sidebar_layout"></ul>

        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>
                    <ul th:replace="layout/topbar_navbar-layout :: topbar_navbar_layout"></ul>
                </nav>

                <div class="container-fluid">
                    <div class="jumbotron text-gray-900">
                        <h1 class="display-4" th:text="'Hello ' + ${name} + '!'"></h1>
                        <p class="lead">Welcome in Bootcamp Management Website you can use all feature in this website, <br>Thank`s for use this website</p>
                        <hr class="my-4">
                        <p sec:authorize="hasRole('USER')">You can view result interview and interview history in menu information and edit or add skill in menu skill</p>
                        <p class="lead" sec:authorize="hasRole('ADMIN')">
                          <a class="btn btn-primary btn-lg" th:href="@{bootcamp-management/admin}" role="button">View Data</a>
                        </p>
                        <p class="lead" sec:authorize="hasRole('RM')">
                          <a class="btn btn-primary btn-lg" th:href="@{bootcamp-management/rm}" role="button">View Data</a>
                        </p>
                      </div>
                </div>
                
            </div>
            <footer th:replace="layout/footer-layout :: footer_layout"></footer>
        </div>
       
    </div>

    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select "Logout" below if you are ready to end your current session.</p>
                    <hr>
                    <form th:action="@{../logout}" method="POST">
                        <button type="submit" class="btn btn-primary mt-1 mb-1 float-right">Logout</button>
                        <button class="btn btn-danger mt-1 mb-1 mr-2 float-right" type="button" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">My Profile</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <img class="img-profile rounded-circle"
                            th:src="@{~/undraw_profile.svg}" width="124rem">
                        <hr style="width: 50%">
                    </div>
                    <div class="text-center mt-3">
                        <h6 class="medium font-weight-bold">Name</h6>
                        <h6 class="medium font-weight-medium" th:text="${user.username}"></h6>   
                        <h6 class="medium font-weight-bold">Address</h6>
                        <h6 class="medium font-weight-medium" th:text="${user.employee.address}"></h6>   
                        <h6 class="medium font-weight-bold">Email</h6>
                        <h6 class="medium font-weight-medium" th:text="${user.employee.email}"></h6>   
                        <h6 class="medium font-weight-bold">Job</h6>
                        <h6 class="medium font-weight-medium" th:text="${user.employee.job.name}"></h6>   
                    </div>
                    <hr>
                    <button class="btn btn-danger mt-1 mb-1 mr-2 float-right" type="button" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div> 
    
    <script th:src="@{~/sidebarToggle.js}"></script>
    <script th:src="@{~/swiper.min.js}"></script>
    <script>
	$(window).on('load', function() {
		var preloaderFadeOutTime = 500;
		function hidePreloader() {
			var preloader = $('.spinner-wrapper');
			setTimeout(function() {
				preloader.fadeOut(preloaderFadeOutTime);
			}, 500);
		}
		hidePreloader();
	});
    </script>
</body>

</html>