<html>
    <head th:replace="layout/head-layout :: head_layout">
        <link th:href="@{~/swiper.css}" rel="stylesheet"> 
    </head>
    <body id="page-top">
        <div class="spinner-wrapper">
            <div class="spinner">
                <div class="bounce1"></div>
                <div class="bounce2"></div>
                <div class="bounce3"></div>
            </div>
        </div>
        <div id="wrapper">
            <ul th:replace="layout/sidebar-layout :: sidebar_layout"></ul>
            <div id="content-wrapper" class="d-flex flex-column">
                <div id="content">
                    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                        <ul th:replace="layout/topbar_navbar-layout :: topbar_navbar_layout"></ul>
                    </nav>

                    <div class="container-fluid">
                        <div class="col-lg-6 mb-4">
                            <div class="d-sm-flex align-items-center justify-content-between mb-4">
                                <h1 class="h3 mb-0 text-gray-800">Information</h1>
                            </div>

                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="m-0 font-weight-bold text-primary">Add Request From HRD</h6>
                                </div>
                                <div class="card-body">
                                    <form class="user">
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Company Name">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Address">
                                        </div>
                                        <div class="form-group">
                                            <input type="date" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Interview Date">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control form-control-user" id="exampleInputEmail"
                                                placeholder="Candidate Needed">
                                        </div>
                                        <hr>
                                        <a href="#" class="btn btn-primary btn-user btn-block">
                                            Send Request
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <footer th:replace="layout/footer-layout :: footer_layout"></footer>
            </div>
        </div>
        
        <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Select "Logout" below if you are ready to end your current session.</p>
                    <hr>
                    <form th:action="@{../../logout}" method="POST">
                        <button type="submit" class="btn btn-primary mt-1 mb-1 float-right">Logout</button>
                        <button class="btn btn-danger mt-1 mb-1 mr-2 float-right" type="button" data-dismiss="modal">Cancel</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addEmployeeModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add Site</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form class="users">
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Name</label>
                                <input type="text" class="form-control form-control-sm" id="name">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-group">
                                <label for="exampleFormControlInput1">Address</label>
                                <input type="text" class="form-control form-control-sm" id="name">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="#">Submit</a>
                </div>
            </div>
        </div>
    </div>
        
    <script th:src="@{~/dataTables.js}"></script>
    <script th:src="@{~/sidebarToggle.js}"></script>
    <script th:src="@{~/swiper.min.js}"></script>
    <script>
        /* Preloader */
	$(window).on('load', function() {
		var preloaderFadeOutTime = 500;
		function hidePreloader() {
			var preloader = $('.spinner-wrapper');
			setTimeout(function() {
				preloader.fadeOut(preloaderFadeOutTime);
			}, 500);
		}
		hidePreloader();
	});
    </script>
    </body>
</html>
